@page
@model AutoServiceProject.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmed";
}

<p>Please confirm your email by clicking the link sent to your inbox.</p>
