@using AutoServiceProject
@namespace AutoServiceProject.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Profile">Profile</a>
</li>

