@page
@model AutoServiceProject.Pages.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/Identity/Account/Login" />
</head>
<body>
    Logging out...
</body>
</html>
